* {
  margin: 0;
}

body {
  background-color: rgb(24, 26, 27);
  font-family: Arial, Helvetica, sans-serif;
}
.aside {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(rgb(52, 0, 150), rgb(0, 4, 255));
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 0.5rem;
  width: 12%;
  z-index: 1;
}
.aside__logo {
  font-size: 1.2rem;
}
.aside__logo {
  font-size: 1.7rem;
  margin-bottom: 8rem;
  margin-top: 1rem;
  color: white;
  font-family: monospace;
  animation: logo infinite 10s;
  align-self: center;
}

.aside__child {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 1rem;
}
.aside__category {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 2rem;
  cursor: pointer;
}
.aside__category:hover {
  color: rgb(240, 236, 0);
}

.movieshow {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin-left: 20%  ;
  justify-content: center;
}

.movieshow__container-movie {
  width: 20%;
  background-color: rgb(52, 59, 148);
  border-radius: 4px;
  margin: 10px;
  margin-bottom: 30px;
  text-align: center;
  padding-bottom: 15px;
  position: relative;
}

.movieshow__container-movie_rightspan {
  display: block;
  color: #fff;
  margin-top: 10px;
  font-weight: bold;
  font: 16px arial;
}

.movieshow__container-movie_leftspan {
  margin-top: 15px;
}

.fa {
  color: yellow;
  font-size: 1rem;
  margin-top: 16px;
  cursor: pointer;
}

.movieshow__container-movie div {
  width: 100%;
  margin: 8px auto;
  text-align: center;
}
.fa-active {
  background-color: yellow;
}

.movieshow__container-movie img {
  width: 100%;
  height: 320px;
}

@media only screen and (max-width: 1240px) {
  .movieshow__container-movie {
    width: 30%;
    margin-bottom: 25px;
    background-color: rgb(52, 59, 148);
  }
  .aside {
    width: 15%;
  }
}

@media (max-width: 700px) {
  .movieshow__container-movie {
    width: 45%;
    margin-bottom: 25px;
    background-color: rgb(52, 59, 148);
  }
  .aside {
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(rgb(52, 0, 150), rgb(0, 4, 255));
    justify-content: space-between;
    bottom: 90%;
    padding: 0.5rem;
    width: 100%;
  }
  .aside__child {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 0.5rem;
  }
  .aside__logo {
    margin-bottom: 1rem;
  }
  .aside__category {
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 1rem;
    cursor: pointer;
  }
  .search {
    margin-top: 3rem;
  }
}

@media only screen and (max-width: 500px) {
  .movieshow__container-movie {
    width: 100%;
    margin-bottom: 25px;
    background-color: rgb(52, 59, 148);
  }
}
.search {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 15%;
  padding-right: 5rem;
}
.search__Name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}
.search__selected {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  color: white;
}
.selected-select,
.search__input {
  border-radius: 1.5rem;
  background: none;
  padding: 0.5rem;
  outline: none;
  border: 1.3px solid rgba(87, 87, 87, 0.781);
  margin-left: 1.5rem;
  font-weight: bold;
  color: rgb(211, 209, 209);
}
.search__button {
  outline: none;
  border-radius: 1rem;
  padding: 0.4rem;
  border: 1.3px solid rgba(173, 173, 173, 0.781);
  margin-left: 0.5rem;
}
.search__button:hover {
  padding: 0.4rem;
  border: 1.3px solid rgba(173, 173, 173, 0.781);
  margin-left: 0.5rem;
  background-color: rgb(60, 66, 163);
  cursor: pointer;
}
.Search__bar {
  margin: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  color: rgb(211, 209, 209);
  cursor: pointer;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.aside__category:hover {
  color: white;
}

.label {
  position: absolute;
  z-index: -10;
  color: rgba(255, 255, 255, 0);
}

/* Start style Movie Details Movie  */
.movie {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.movie_content {
  background-color: #636060c4;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  border: 1px solid #888;
  width: 100%; 
  height: 100%;
  font-family: 'Courier New', Courier, monospace;
  cursor: pointer;
}

.movie_content_details {
  height: 60%;
  display: flex;
  flex-direction: row;
  background-image: linear-gradient(#be9fe1,#c9b6e4,#e1ccec,#f1f1f6);
  padding: 1rem;
  width: 95%;
}

.movie_details_img {
  height: 100%;
  flex: 1;
}

.movie_details_info {
  display: flex;
  flex-direction: column;
  flex: 3;
  padding: 0 20px;
}

.movie_details_info h1 {
  margin-bottom:15px;
}

.movie_details_info p {
  margin-bottom:10px;
}

.movie_details_info h4 {
  margin-bottom:10px;
  align-self: flex-start;

}

.movie_content_span {
  position: absolute;
  top:1.3rem;
  right: 3rem;
  font-size: 3rem;
  font-weight: bold;
color: rgb(189, 2, 2);
}


.movie_relates {
  height: 50%;
}


/* End style Movie Details Movie  */

.add-to-favorite {
  position: absolute;
  top: -5px;
  right: 12px;
  font-size: 1.5rem;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 5px;
  border-radius: 11px;
}
