* {
  margin: 0;
}

body {
  background-color: rgb(24, 26, 27);
  font-family: Arial, Helvetica, sans-serif;
}
.header{
  position: fixed;
  top: 0.5rem;
  left: 0;
  right: 0;
  display: flex;
}

.aside__logo {
  font-size: 1.7rem;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  position: absolute;
  top: 2rem;
  left: 45%;
  text-shadow: 2px 2px 8px #FF0000;
cursor: pointer;
}

.movieshow {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  margin-top: 25px;
}

.movieshow__container-movie {
  width: 20%;
  background-color: rgb(52, 59, 148);
  border-radius: 4px;
  margin: 10px;
  margin-bottom: 30px;
  text-align: center;
  padding-bottom: 15px;
  position: relative;
  cursor: pointer;
}

.movieshow__container-movie_rightspan {
  display: block;
  color: #fff;
  margin-top: 10px;
  font-weight: bold;
  font: 16px arial;
}

.movieshow__container-movie_leftspan {
  margin-top: 15px;
}

.fa {
  color: yellow;
  font-size: 1rem;
  margin-top: 16px;
  cursor: pointer;
}

.movieshow__container-movie div {
  width: 100%;
  margin: 8px auto;
  text-align: center;
}
.fa-active {
  background-color: yellow;
}

.movieshow__container-movie img {
  width: 100%;
  height: 320px;
}

@media (max-width: 1240px) {
  .movieshow__container-movie {
    width: 30%;
    margin-bottom: 25px;
    background-color: rgb(52, 59, 148);
  }
}

@media (max-width: 700px) {
  .movieshow__container-movie {
    width: 45%;
    margin-bottom: 25px;
    background-color: rgb(52, 59, 148);
  }
}

@media (max-width: 500px) {
  .movieshow__container-movie {
    width: 100%;
    margin-bottom: 25px;
    background-color: rgb(52, 59, 148);
  }
}
.search {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 3rem;
}
.search__Name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}
.search__input {
  border-radius: 1.5rem;
  background: none;
  padding: 0.5rem;
  outline: none;
  border: 1.3px solid rgba(87, 87, 87, 0.781);
  margin-left: 1.5rem;
  margin-top: 0.5rem;
  font-weight: bold;
  color: rgb(211, 209, 209);
}
.search__button {
  outline: none;
  border-radius: 1rem;
  padding: 0.4rem;
  border: 1.3px solid rgba(173, 173, 173, 0.781);
  margin-left: 0.5rem;
  margin-top: 0.5rem;
}
.search__button:hover {
  padding: 0.4rem;
  border: 1.3px solid rgba(173, 173, 173, 0.781);
  margin-left: 0.5rem;
  background-color: rgb(60, 66, 163);
  cursor: pointer;
}
.Search__bar {
  margin: 2rem 1rem 1rem 1rem ;
  font-size: 1rem;
  font-weight: bold;
  color: rgb(211, 209, 209);
  cursor: pointer;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.label {
  position: absolute;
  z-index: -10;
  color: rgba(255, 255, 255, 0);
}

/* Start style Movie Details Movie  */
.movie {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.movie_content {
  display: flex;
  padding: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-weight: bold;
}

.movie_content_details {
  height: 60%;
  display: flex;
  flex-direction: row;
  background-image: linear-gradient(#be9fe1,#c9b6e4,#e1ccec,#f1f1f6);
  padding: 1rem;
  width: 95%;
}

.movie_details_img {
  height: 100%;
  flex: 1;
}

.movie_details_info {
  display: flex;
  flex-direction: column;
  flex: 3;
  padding: 0 20px;
}

.movie_details_info h1 {
  margin-bottom:15px;
}

.movie_details_info p {
  margin-bottom:10px;
}

.movie_details_info h4 {
  margin-bottom:10px;
  align-self: flex-start;

}

.movie_content_span {
  position: absolute;
  top:1.3rem;
  right: 3rem;
  font-size: 3rem;
  font-weight: bold;
color: rgb(189, 2, 2);
cursor: pointer;
}


.movie_relates {
  height: 50%;
}


/* End style Movie Details Movie  */

.add-to-favorite {
  position: absolute;
  top: -5px;
  right: 12px;
  font-size: 1.5rem;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 5px;
  border-radius: 11px;
}

.famousMovies {
  display: none;
  flex-wrap: wrap;
  width: 80%;
  margin-left: 20%  ;
  justify-content: center;
  margin-top: 8rem;
}
tr:nth-child(even) {
  background-color: rgba(0,0,0, 0.2);
}

td {
  font-size: 20px;
}

.col1 {
  width: 30%;
  color: #800;
}
.details_overview{
  width: 50%;
}
.soundtrack{
  display: flex;
  justify-content: space-around;
  background-color: rgba(51, 46, 46, 0.712);
  padding: 1rem 1rem 0 0.5rem;
  color: #f1f1f6;
  margin-top: 1rem;
  font-size: 0.7rem;
}
.soundTrack__header{
margin-top: 1rem;
color: rgb(0, 0, 0);
font-size: 2rem;
}
.img-width {
  height: 200px;
  width: 200px;
}

.soundtrack__container--text{
  text-align: center;
}

.next__Page{
  display: none;
  font-size: 2rem;
  background-color: rgb(126, 30, 221);
  padding: 0.5rem;
  border-radius: 50px;
  position: fixed;
  bottom:1rem;
  left: 0.5rem;
  cursor: pointer;
  color: white;
text-decoration: none;
}
.back__Page{
  display: none;
  font-size: 2rem;
  background-color: rgb(126, 30, 221) ;
  padding: 0.5rem;
  border-radius: 50px;
  position: fixed;
  bottom:1rem;
  right: 0.5rem;
  cursor: pointer;
  color: white;
  text-decoration: none;
}
.back__Page:hover,.next__Page:hover{
  background-color: rgb(146, 13, 53);
}
.title_sound{
  width: 80%;
  font-weight: bold;
  color: rgb(0, 0, 0);
}
.artist_sound{
  font-size: 1rem;
}